<form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger" style="width: fit-content;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M3.5 1.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5V2h-9v-.5zm8-1a1.5 1.5 0 0 1 1.5 1.5V2h-3v-.5a1.5 1.5 0 0 1 1.5-1.5zM5.5 2V1h-3v.5a1.5 1.5 0 0 0 1.5 1.5h3V2h-3.002zM2 4v10.5a1.5 1.5 0 0 0 1.5 1.5h9a1.5 1.5 0 0 0 1.5-1.5V4H2z"/>
        </svg>
        Delete
    </button>
</form>

