{% extends 'base_back.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comment_index') }}" class="btn btn-primary" style="background-color: #fbaf32; color: #ffffff; width: fit-content;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.354 11.354a.5.5 0 0 0 0-.708L2.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
            <path fill-rule="evenodd" d="M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8z"/>
        </svg>
        <span style="padding-left: 5px; padding-right: 5px;">Back to List</span>
    </a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
