<form method="post" action="{{ path('app_forumpost_delete', {'id': forumpost.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forumpost.id) }}">
    <button class="btn" style="background-color: #ff0000; color: #ffffff;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M1 3h14v2H1V3zm13-3H2a1 1 0 0 0-1 1v1h14V1a1 1 0 0 0-1-1zm-3 12v1H4v-1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1zm2-10H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3zm-8-1h2v1H4V2z"/>
        </svg>
        Delete
    </button>
</form>
