<form method="post" action="{{ path('app_forumpost_delete', {'id': forumpost.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forumpost.id) }}">
    <button class="btn">Delete</button>
</form>
