{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
<button class="btn" style="background-color: #719a0a; color: #ffffff; margin-top: 10px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
