{% extends 'front.html.twig'%}

{% block navbar %}
{% endblock %}
{% block body %}


    <h1 style="color: orange;">Kool <span style="color: black;">Art</span></h1>
    <div>You have Been banned</div>

{% endblock %}

{% block footer %}
{% endblock %}
